<!DOCTYPE html>
html(lang="ja")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title COG DEMO
    link(rel="stylesheet" href="./css/font-awesome.min.css")
    link(rel="stylesheet" href="./assets/common.css")
body

    .container
        .navbar
            .left
                .notices
                    .budge 2
                    .icon
                        span.fa.fa-comment
            .center
                ul.modes
                    li 支援情報
                    li.active マップ
                    li 非常発信
            .right
                .menu-icon
                    span.fa.fa-bars

        .info-box
            span.icon.fa.fa-exclamation-circle
            span.message
                span.bold 大雨洪水警報
                | が発令中です

        .call-btn
            span.icon.fa.fa-rss
            span.label 非常発信

        .map-canvas#mapCanvas

    
    script(src="assets/map.js")
    script(async defer src="//maps.googleapis.com/maps/api/js?key=AIzaSyB1MvBwgJLjGPVzmIXlyf4_Kz8Pg7-UJxA&callback=initMap")