<!DOCTYPE html>
html(lang="ja")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title COG DEMO
    link(rel="stylesheet" href="./css/font-awesome.min.css")
    link(rel="stylesheet" href="./assets/common.css")
body

    .container
        .virtual-device
            .map-canvas
            
            .nav-header
                .current-position-btn(data-label="現在地")
                    span.fa.fa-location-arrow.btn-light